.header {
    background-image: url("../images/background-images/Umhlanga-background-1.jpeg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.open .header__menu--line {
        background-color: transparent;
    }

    &.open .header__menu--line::before {
        transform: rotate(45deg)
    }

    &.open .header__menu--line::after {
        transform: rotate(-45deg);
    }

    &.open .header__menu--line::before,
    &.open .header__menu--line::after {
        top: 0;
    }

    &__overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: purple;
        opacity: 0;
        display: none;
        z-index: 10;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        &__logo {
            padding: 1rem 1rem 0;

            &-image {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }
        }


        &__list {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            align-items: center;

        }

        .nav__list__item {
            margin-right: 18px;

            a:link,
            a:active {
                display: block;
                position: relative;
                transform-style: preserve-3d;
                transform-origin: top;
                transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19)
            }

            a:hover,
            a:active {
                transform: rotateX(90deg);
            }

            a:link::after,
            a:visited::after {
                content: attr(data-text);
                position: absolute;
                background-color: lightblue;
                left: 0;
                bottom: -100%;
                transform: rotateX(-90deg);
                padding: 8px;
                display: block;
            }

        }
    }


    &__title {
        text-align: center;
        color: #66BFBF;
        font-size: 50px;
        margin: auto;
        font-weight: 900;


    }

    .txt-type {
        border-right: 0.2rem solid gold;
    }

    @include media-tablet {
        &__nav {
            background-color: darkblue;
            position: fixed;
            top: 0;
            left: 0;
            width: 25rem;
            height: 100vh;
            line-height: initial;
            flex-direction: column;
            text-align: center;
            z-index: 20;
            transform: perspective(70rem) rotateY(0.5turn);
            transform-origin: top left;
            transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

            &__list {
                display: flex;
                flex-direction: column;
                height: 70%;
                justify-content: space-evenly;

                .nav__list__item {
                    animation: initial;

                    a:link,
                    a:active {
                        transform-origin: left;
                        margin-right: initial;
                        padding: 2rem;
                        font-size: 1.2rem;
                    }

                    a:hover,
                    a:active {
                        transform: rotateY(90deg);
                    }

                    a:link::after,
                    a:visited::after {
                        top: 0;
                        bottom: 100%;
                        left: 100;
                        width: 100%;
                        height: 100%;
                        transform-origin: left;
                        transform: rotateY(-90deg);

                    }
                }
            }
        }

        &.open nav {
            transform: rotateY(0);
        }

        &__menu {
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 2rem;
            right: 2rem;
            padding: 2.5rem;
            z-index: 20;
            cursor: pointer;

            &--line,
            &--line::before,
            &--line::after {
                content: "";
                position: absolute;
                width: 2.5rem;
                height: 0.2rem;
                background-color: #fff;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.5s ease-in-out;
            }

            &--line::before {
                top: -2.2rem;

            }

            &--line::after {
                top: 1.3rem;
            }


        }

        &__overlay.open {
            display: block;
            opacity: 0.8;
        }
    }
}